{% extends 'main/base.html' %}

{% block content %}

<div id="index-landing">
    <div id="overlay">
        <div class="text-center" id="index-placing">
        <h2>Welcome To Under The Hood</h2>
        <button class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</div><br>
<hr>
<div class="container-fluid">
    <h1 class="text-center heading">Why Us</h1>
    <ol>
        <li>Advantages of using this site is that you are able to use it if you want to get data on a particular
            car that you want to buy as a second hand vehicle and decide whether you want to buy it.</li>  
        <li>
            To researchers and car companys one is able to determine the problems associated with a certain car
            and they are able to improve the design or recall the vehicle all together.
        </li>
        <li>
            To car Owners one is able to keep track of the problem their cars have and incase that issue should arise
            again they are able to determine what is the cause
        </li>
        <li>
            To buisness owners one is able to determine the most probable breakdown of a certain car and buy spare
            parts that will move out of the shelf quickly
        </li>
    </ol>
</div><br><hr>
<div class="container-fluid">
    <h1 class="text-center heading">How It Works</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="how-it-works-image">
                <div id="how-it-works-overlay">

                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div><br><hr>
<div class="container-fluid">
<h1 class="text-center heading">About Us</h1>
    <div class="text-center">
        <p>
            We are a company that aims at providing accurate data about cars and their problems.We handle data
            from individuals and garadges.
        </p>
    </div><br>
</div>
{% endblock %}